/* FOUC Prevention - MUST BE FIRST */
body,
html {
  background-color: #172554 !important;
  margin: 0;
  padding: 0;
}

/* global css */
@import 'tailwindcss';

@font-face {
  font-family: 'Cupidus';
  font-style: normal;
  src: url('../src/assets/Cupidus-Extralight.ttf') format('truetype');
}
@font-face {
  font-family: 'SantEliaScript';
  font-style: normal;
  src: url('../src/assets/SantEliaScript-ExtraLight.woff2') format('woff2');
}

@theme {
  --font-cupidus: 'Cupidus', sans-serif;
  --font-script: 'SantEliaScript', serif;
}

/* Base styles */
body h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
li {
  font-family: theme(--font-cupidus);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
